body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.delete {
    color: red;
    text-decoration: none;
    font-weight: bold;
}
